.githubCard {
  @apply flex flex-col cursor-pointer;
  @apply w-[335px] h-[391px];
  @apply lg:w-[420px] lg:h-[460px];
  @apply bg-center;
  @apply bg-contain;
}

@media screen and (min-width: 768px) {
}

.githubCard1 {
  background-image: url("/svgs/GithubCard1-Normal-lg.svg");
  background-repeat: no-repeat;
}

.githubCard1:hover {
  background-image: url("/svgs/GithubCard1-Hover-lg.svg");
}

.githubCard2 {
  background-image: url("/svgs/GithubCard2-Normal-lg.svg");
  background-repeat: no-repeat;
}

.githubCard2:hover {
  background-image: url("/svgs/GithubCard2-Hover-lg.svg");
}

.githubCard3 {
  background-image: url("/svgs/GithubCard3-Normal-lg.svg");
  background-repeat: no-repeat;
}

.githubCard3:hover {
  background-image: url("/svgs/GithubCard3-Hover-lg.svg");
}
