.btn {
  @apply relative;
  @apply cursor-pointer flex items-center justify-center;
}

.focused {
}

.btnIcon {
  @apply text-white;
  @apply w-10 h-10;
  @apply bg-no-repeat;
  @apply bg-contain;
  background-image: url("/svgs/IconButtonBorderNormal.svg");
}

.btnIcon:hover {
  background-image: url("/svgs/IconButtonBorderHover.svg");
}

.btnPrimaryWhite {
  @apply flex items-center justify-center;
  @apply font-[500] text-[black] rounded-xl;
  @apply p-[1px];
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(
      340.08deg,
      rgba(255, 255, 255, 0) 32.87%,
      rgba(255, 255, 255, 0.8) 163.05%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(
      340.08deg,
      rgba(255, 255, 255, 0) 32.87%,
      rgba(255, 255, 255, 0.8) 163.05%
    );
}

.btnPrimaryWhite:hover {
  background-image: linear-gradient(
    340.08deg,
    rgba(255, 255, 255, 0) 32.87%,
    #ffffff 163.05%
  );
  color: white;
}

.btnPrimaryWhite .content {
  @apply flex items-center justify-center;
  @apply w-full h-full rounded-[12px];
  background: linear-gradient(57.4deg, #ffffff 32.54%, #d1d0ff 94.15%);
}

.btnPrimaryWhite:hover .content {
  background: linear-gradient(48.64deg, #5351de 10.15%, #bcbafd 104.79%);
}

.btnSecondaryWhite {
  @apply text-sm leading-[16px] font-[500] text-[white] rounded-xl;
  @apply border-[1px] border-[rgba(255,255,255,0.8)] bg-opacity-80;
}

.btnSecondaryWhite:hover {
  @apply border-[rgba(186,185,255,0.8)];
  @apply text-[rgba(186,185,255)];
}
