.btn {
  @apply relative;
  @apply cursor-pointer flex items-center justify-center;
  @apply transition-all;
}

.focused {
}

.btnIcon {
  @apply text-white;
  @apply w-10 h-10;
  @apply bg-no-repeat;
  @apply bg-contain;
  background-image: url("/svgs/IconButtonBorderNormal.svg");
}

.btnIcon:hover {
  background-image: url("/svgs/IconButtonBorderHover.svg");
}

.btnPrimaryWhite {
  @apply flex items-center justify-center;
  @apply w-full h-full;
  @apply text-sm leading-[16px] font-[500] text-[black] rounded-xl;
  /* border: 1px solid transparent; */
  background: linear-gradient(48.64deg, #ffffff 10.15%, #cdccff 104.79%);
}

.btnPrimaryWhite:hover {
  background: linear-gradient(48.64deg, #5351de 10.15%, #bcbafd 104.79%);
  color: white;
}

.btnPrimaryWhite .borderDiv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 12px;
  background: linear-gradient(
    2.18deg,
    rgba(255, 255, 255, 0) 16.65%,
    rgba(255, 255, 255, 0.8) 194.5%
  );
}

.btnPrimaryWhite:hover .borderDiv {
  border: 1px solid;
  border-image: linear-gradient(
    340.08deg,
    rgba(255, 255, 255, 0) 32.87%,
    #ffffff 163.05%
  );
}

.btnSecondaryWhite {
  @apply text-sm leading-[16px] font-[500] text-[white] rounded-xl;
  @apply border-[1px] border-[rgba(255,255,255,0.8)];
  /* border: 1px solid;
  border-image: linear-gradient(
      2.18deg,
      rgba(255, 255, 255, 0) 16.65%,
      rgba(255, 255, 255, 0.8) 194.5%
    )
    1;
  border-radius: 12px; */
}

.btnSecondaryWhite:hover {
  @apply border-[rgba(186,185,255,0.8)];
  @apply text-[rgba(186,185,255)];
}
